
@media screen and (min-width: 320px) and (max-width: 578px){
    .hero{
  text-align:center;
    }
    .hero h3{
        font-weight: 400;
        font-size: 1.1rem;
    }
    .hero h4{
        padding-top: 2rem;
    }
    .hero h1{
        margin:0;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 2.5rem;
    }
    .intro-text{
        flex-direction: column;
        margin:0;
        padding: 0;
    }
    .intro-text p{
        margin: 0rem 0rem 0 0rem;
        text-align:justify;
    }
    
    .text-box h2{
     padding:2rem 2rem 2rem 2rem;
     text-align:center;
    
    }
    .text-box p{
        padding: 2rem 2rem 2rem 2rem;
        margin: 0rem 1rem 0 1rem;
    }
    .text-box ol{
        padding: 0rem 2rem 0rem 2rem;
        margin: 0rem 1rem 0 2rem;
    
    }
    .text-box ul{
        padding: 0rem 2rem 0rem 2rem;
        margin: 0rem 1rem 0 2rem; 
    }
    
    .sessions{
        padding: 1rem 1rem 0 1rem;
        margin: 0rem 1rem 0 1rem;
    }
    .accordion{
        height:100%;
        text-align:left;
    }
    .faculty-bio{
        display:flex;
        flex-direction: column;
        background-color: var(--theme-blue-10);
        padding: 1rem 2rem 0 2rem;
        margin: 2rem 2rem 0 2rem;
        
    }
    .faculty h2{
     padding:2rem 2rem 2rem 2rem;
     text-align:center;
    }
    .faculty p{
        padding:0rem;
    }
    .image{
        width:100%;
    }
    
    .bio-text{
        width:100%;
    }
    
    footer{
        display:flex;
        flex-direction: column;
    }
        
}
@media screen and (min-width: 579px) and (max-width: 830px){
    .hero{
        text-align:center;
          }
          .hero h3{
              font-weight: 400;
              font-size: 1.1rem;
          }
          .hero h4{
              padding-top: 2rem;
          }
          .hero h1{
              margin:0;
              text-transform: uppercase;
              font-weight: 200;
              font-size: 2.5rem;
          }
          .intro-text p{
              margin: 0rem 0rem 0 0rem;
              text-align:justify;
          }
          
          .text-box h2{
           padding:2rem 2rem 2rem 2rem;
           text-align:center;
          
          }
          .text-box p{
              padding: 2rem 2rem 2rem 2rem;
              margin: 0rem 1rem 0 1rem;
          }
          .text-box ol{
              padding: 0rem 2rem 0rem 2rem;
              margin: 0rem 1rem 0 2rem;
          
          }
          .text-box ul{
              padding: 0rem 2rem 0rem 2rem;
              margin: 0rem 1rem 0 2rem; 
          }
          
          .sessions{
              padding: 1rem 1rem 0 1rem;
              margin: 0rem 1rem 0 1rem;
          }
          .accordion{
              height:100%;
              text-align:left;
          }
          .faculty-bio{
              display:flex;
              flex-direction: column;
              background-color: var(--theme-blue-10);
              padding: 1rem 2rem 0 2rem;
              margin: 2rem 2rem 0 2rem;
              
          }
          .faculty h2{
           padding:2rem 2rem 2rem 2rem;
           text-align:center;
          }
          .faculty p{
              padding:0rem;
          }
          .image{
              width:100%;
          }
          
          .bio-text{
              width:100%;
          }
          
          footer{
              display:flex;
              flex-direction: column;
          }
              
    
    
}

@media screen and (min-width: 831px) and (max-width: 1350px){
    .hero{
        text-align:center;
          }
          .hero h3{
              font-weight: 400;
              font-size: 1.1rem;
          }
          .hero h4{
              padding-top: 2rem;
          }
          .hero h1{
              margin:0;
              text-transform: uppercase;
              font-weight: 200;
              font-size: 2.5rem;
          }
          .intro-text p{
              margin: 0rem 0rem 0 0rem;
              text-align:justify;
          }
          
          .text-box h2{
           padding:2rem 2rem 2rem 2rem;
           text-align:center;
          
          }
          .text-box p{
              padding: 2rem 2rem 2rem 2rem;
              margin: 0rem 1rem 0 1rem;
          }
          .text-box ol{
              padding: 0rem 2rem 0rem 2rem;
              margin: 0rem 1rem 0 2rem;
          
          }
          .text-box ul{
              padding: 0rem 2rem 0rem 2rem;
              margin: 0rem 1rem 0 2rem; 
          }
          
          .sessions{
              padding: 1rem 1rem 0 1rem;
              margin: 0rem 1rem 0 1rem;
          }
          .accordion{
              height:100%;
              text-align:left;
          }
          .faculty-bio{
              display:flex;
              flex-direction: column;
              background-color: var(--theme-blue-10);
              padding: 1rem 2rem 0 2rem;
              margin: 2rem 2rem 0 2rem;
              
          }
          .faculty h2{
           padding:2rem 2rem 2rem 2rem;
           text-align:center;
          }
          .faculty p{
              padding:0rem;
          }
          .image{
              width:100%;
          }
          
          .bio-text{
              width:100%;
          }
          
          footer{
              display:flex;
              flex-direction: column;
          }
              
}
