:root {
    --purple: #523080;
    --yellow: #F5B700;
    --yellow-dark: #f5a700;
    --green: #2FBF71;
    --orange: #F15946;
    --blue: #01A7C2;
    --dark-blue: #013a42;
    --dark-grey: #2c2b2b;
    --grey: #3D3D3D;
    --grey05: #00000009;
    --grey10: #3d3d3d0a;
    --grey20: #3d3d3d25;
    --grey60: #3d3d3d3f;
    --grey90: #3d3d3dde;
    --purple10: #53308010;
    --white70: #ffffffb4;
    --white40: #ffffff44;
  }

.material-icons {
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin-left: auto;
}


body{
    font-family: proxima-nova,sans-serif;
   height:100%;
      background-color: #ffffff;
      margin: 0;
      padding: 0;

  }

.alert{
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 10000;
    
  }
  .alert-content{
    margin: 2rem;
    height: 10vh;
    background-color: var(--yellow);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .close{
  width: 10%;
  text-align: right;
  margin-right: 20px;
  }
  a.close{
    font-size: 2rem;
    text-decoration: none;
    color: var(--dark-grey);
  }
  .text-alert{
    text-align: center;
    width:90%;
  }
  p.text-alert{
    color: var(--dark-grey);
    font-weight: 600;
    font-size: 1.2rem;
    
  }
  #sub-text{
    color: var(--dark-grey);
    font-weight: 300;
    font-size: 1rem;
  }
  a#text-link{
    color: var(--dark-grey);
  text-decoration: none;
  font-weight: 600;
  }
  @media screen and (min-width: 320px) and (max-width: 780px){

    .alert-content{
        margin: 2rem;
        height: 15vh;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .text-alert{
        margin-left: 20px;
      }
    }
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #000000;
    height: 10vh;
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    z-index:-1;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a img{
    width: 100px;
  }
  
  .menu-bars{
    width: 20%;
  display:flex;
  
  align-items: center;
  }
  .bar-wrap{
    /* background-color: rgba(255,255,255,0.05); */
    width: 50px;
  }
  .bar-wrap:hover {
     background-color: rgba(255, 255, 255, 0.137);
  }
  
  .menu-items{
    display:none;
  }
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    left: 0;
    top: 0;
  }
  
  .top_logo {
  
  width:60%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .lang-select{
    width:20%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right:20px;
    font-weight: 300;
  }
  .top_logo img#ie-logo-style{
    margin: 5px 20px;
    height:60px; 
    width:auto; 
  }
  @media screen and (min-width: 769px) and (max-width: 1100px){
  .top_logo img#undp-logo-style{
    margin: 5px 25px;
    height:60px; 
    width:auto; 
  }
  }
  @media screen and (min-width: 320px) and (max-width: 768px){
    .top_logo {
      padding: 0 !important;
      width:50%;
      }
      .top_logo img{
        width:20%;
        }
      .lang-select{
        width: 20%;
        justify-content: flex-start;
        margin-right:0;
      }
      .top_logo img#undp-logo-style{
        margin: 5px 0px;
        height:50px; 
        width:auto; 
      }
      .lang-select img{
        display:none;
      }
      .menu-bars
        {
          width:10%;
        }
  }
  .lang-select a{
    color: #ffffff;
    text-decoration: none;
  }
  .lang-select a.active{
    color: var(--accent-color);
    font-weight:600;
  }
  
  #myLinks{
    display:none;
    width: 300px;
    height: calc(100vh - 50px);
    z-index:100;
    text-align: right;
    position: absolute;
    top:50;
  }
  
  .menu-items{
    display:flex;
    flex-direction: column;
    height:100%;
  }
  .menu-items a{
    padding:20px;
    text-decoration: none;
    font-size:16px;
    color: rgba(255,255,255,0.7);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    width:100%;
  }
  .menu-sub{
    width:100%;
    height:100%;
    background-color: #1f1f1f;
    display:flex;
    justify-content: center;
    align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .menu-sub:hover {
    width:100%;
    height:100%;
    background-color: #161616;
    display:flex;
    justify-content: center;
    align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .menu-sub:hover a{
  color: #ffffff;
  }
.hero{
    display:flex;
    flex-direction: row;
    height: 90vh;
    background-image: url(../img/hero.jpg);
    background-color: var(--purple);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-text{
    display:flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

}
.hero-text h1{
    padding: 0 6rem;
    margin: 0;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 200;
}
.hero-text h5{
    padding: 0 6rem;
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.hero-text h4{
    padding: 0 6rem;
    margin: 0;
    margin-top: 10px;
}
.hero-text a{
    margin: 1rem 0;
    padding: 1rem 2rem;
    background-color: var(--white40);
    color: var(--white70);
    text-decoration: none;
    text-transform: uppercase;
}
.hero-text a:hover{
    transition: 0.6s ease-in-out;
    background-color: var(--white70);
    color: var(--dark-grey);
}
.divider{
    height: 12vh;
    margin:0;
    background-color: var(--dark-grey);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1{
    margin: 0;
    text-transform: uppercase;
    font-weight: 200;
    color: var(--purple);
}
.container h4{
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--purple);
}
.section-box{
    display:flex;
    flex-direction: row;
    width: 100%;
    height:100vh;
}
.section-body{
    height:100vh;

}
.section-box .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 4rem;
}
.container.solution{
    background-color: var(--purple);
}
.container.solution h1{
color: white;
}
.container.solution h4{
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom:1rem;
    color: var(--purple);

    }
    .container.solution h4 span#white-bg{
        padding: 5px 10px;
       background-color: white;
        }
.container.solution p{
    margin:0;
    color: white;
    }
.container p{
    font-weight: 300;
    color: var(--grey90);
}
.container.skills{
    width:60%;
    background-color: var(--purple);
}
.container.skills h1{
    color: white;
    }
    .container.skills p{
        margin:0;
        color: white;
        }
.container.skills h4{
        font-size: 1.1rem;
        margin-top: 2rem;
        margin-bottom:1rem;
        color: var(--purple);
    
        }
        .container.skills h4 span#white-bg{
            padding: 5px 10px;
           background-color: white;
            }
            .container ol{
                color: white;
            }
.section-image{
    width: 60%;
    background-size: cover;

}
.section-image.problem{
    background-image: url(../img/problem.jpg);
}
.section-image.solution{
    background-image: url(../img/solution.jpg);
}
.section-image.topics{
    background-image: url(../img/topics.jpg);
}
.section-image.ahora{
    background-image: url(../img/ahora.jpg);
}
.section-image.course{
    background-image: url(../img/course.jpg);
}
.section-image.training{
    background-image: url(../img/ed-training.jpeg);
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.section-image.components{
    background-image: url(../img/components-2.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--purple);
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.section-image.characteristics{
    background-image: url(../img/characteristics.jpeg);
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white);
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.section-image.evaluation{
    background-image: url(../img/components.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--purple);
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.section-image.govlab{
    background-image: url(../img/govlab.jpeg);
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white);
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.section-image.materials{
    background-image: url(../img/materials.jpeg);
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white);
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.section-image.faculty{
    background-image: url(../img/faculty.jpeg);
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--purple);
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.section-image.idea{
    background-image: url(../img/idea.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--purple);
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.section-image.skills{
    background-image: url(../img/skills.jpg);
    width:40%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.training-section{
    padding: 1rem 2rem;
    background-color: white;
    margin-bottom: 6rem;
   text-align: center;
}

.training-section h1{
    text-transform: uppercase;
    font-weight: 500;
    color: var(--purple);
    margin:0;
}
.training-section p{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--dark-grey);
    margin:0;
}
.training-section img{
    height: 60px;
}
.sessions{
    padding: 1rem 2rem 2rem 2rem;
    margin: 0rem 8rem 0 8rem;
}
.sessions h1{
    font-weight: 200;
}
.panel {
    display: flex;
    flex-direction: column;
    order: 2;
    background-color: rgba(27, 138, 207, 0);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  
  }
  .accordion .material-icons:before {
    font-weight: 200;
    content: 'keyboard_arrow_down';
}
.active .material-icons:before { 
    font-weight: 200;
    content: 'keyboard_arrow_up';
}
.text-box .panel p{
    margin: 0 2rem;
}
.accordion{
    width: 100%;
    padding:1rem;
    background-color: var(--purple10);
    display: flex;
    flex-direction: row;
    box-shadow: none;
    border:none;
    font-size: 1rem;
    margin: 1rem 0 0 0;
    color: var(--purple);
    
}

#bold{
    font-weight: 600;
}
@media screen and (min-width: 320px) and (max-width: 578px){
    .section-box{
        display:flex;
        flex-direction: column;
        width: 100%;
    }
    .section-image{
        height: 300px;
        width: 100%;
        background-size: cover;
    }
    .section-body{
        height: 100%;
    }
    .section-body.images{
        height:380px;
    }
    .container.skills{
        width:100%;
        height: 100vh;
        background-color: var(--purple);
        padding: 0rem;

    }
    .section-image.course{
        display:none;
    }
    .section-image.skills{
        display:none;
    }
    .section-image.ahora{
        display:none;
    }
    .section-box.ah{
        height: 200px;
    }
    .section-body.tr{
        height: 300px;
    }
    .accordion{
        height:100%;
        text-align:center;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    .accordion #bold{
        padding-bottom:0.5rem;
    }
    .material-icons{
        padding-top:0.5rem;
        margin-left: 0;
    }
    .sessions{
        padding: 1rem 1rem 0 1rem;
        margin: 0rem 1rem 0 1rem;
    }
}
@media screen and (min-width: 579px) and (max-width: 1100px){
    .section-image{
     
        width: 60%;
        background-size: cover;
    }
    .section-body{
        height: 100%;
    }
    .section-body.images{
        height:380px;
    }
    .sessions{
        padding: 1rem 1rem 0 1rem;
        margin: 0rem 1rem 0 1rem;
    }
    .accordion{
        height:100%;
        text-align:center;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    .accordion #bold{
        padding-bottom:0.5rem;
    }
    .material-icons{
        padding-top:0.5rem;
        margin-left: 0;
    }

}
a.translate-es::before{
    content: "Espanōl";
}
a.translate-en::before{
    content: "English";
}
.translate-es,.translate-en:hover{
    cursor: pointer;
}
footer{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(0,0,0);
    color: rgba(255,255,255,0.5);
    font-size: 0.8rem;
}


footer img{
    padding: 0 20px 0 20px;
}
footer a{
    color: rgba(255,255,255,0.5);
}
footer p{
    margin:0;
}